@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lato', sans-serif;
    max-width: 2000px;
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    color: rgb(216, 216, 14);
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    padding: 0.5rem;
    font-family: 'Architects Daughter', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: rgb(165, 165, 42);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* ........................................ Game Structure*/

.section-game {
    height: 100vh;
    background: linear-gradient(rgba(255, 0, 0, 0.6),
            rgba(255, 0, 0, 0.6)),
        url(../imgs/game_img3.jpg) no-repeat center center fixed;
    background-size: cover;
    border: 4px solid rgb(165, 165, 42);
    overflow: auto;
}

.movie-quote {
    /* margin-top: rem; */
    padding-bottom: 0.5rem;
}

.movie-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 70%;
    font-size: 1.3rem;
    border: 0.1rem solid rgb(165, 165, 42, 0.5);
    border-radius: 35px;
    background-color: whitesmoke;
     align-items: center;
    padding-left: 11px;
}

.movie-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(165, 165, 42, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.movie-prefix {
    padding: 0.5rem 1rem;
    background-color: rgba(165, 165, 42);
    color: white;
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
}

p {
    margin-bottom: 0;
}

.movie-text {
    padding: 1.2rem;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

/* ........................................ Nav */

.nav-tabs {
    border-bottom: none;
    padding-top: 1rem;
    padding-left: 1rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 700;
}

.nav-tabs .nav-link {
    border: 2px solid rgb(165, 165, 42);
}

.dropdown-item {
    font-size: 1rem;
    color: rgb(165, 165, 42);
    margin-right: 0;
}

/* ........................................ Button Answer Styling*/

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* ........................................ Score & Question Counter*/

#hud {
    padding-top: 0.5rem;
    justify-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
}

.hud-main-text {
    color: whitesmoke;
}

.hud-prefix {
    font-size: 1.3rem;
    text-decoration: underline;
}

/* ........................................ Alert Box*/

.swal-title {
    font-family: 'Lobster', cursive;
    font-size: 20;
    color: #090e0e;
}

.swal-button {
  color: rgba(165, 165, 42);
  padding: 7px 19px;
  border-radius: 2px;
  background-color: whitesmoke;
  font-size: 15px;
  border: 2px solid #090e0e;
  text-shadow: 0px -1px 0px rgba(212, 1, 1, 0.3);
}
.swal-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    color: #090e0e;
}

.swal-modal {
  background-color: rgb(165, 165, 42);
  border: 3px solid white;
}

.swal-icon--success:after, .swal-icon--success:before{
    background-color: rgb(165, 165, 42);
}

.swal-icon--success__ring {
    border: 4px solid #e9ecef;;
}

.swal-icon--success__hide-corners{
    background-color: transparent;
}

.swal-icon--success__line{
    background-color: #349800;

}

/* ........................................ Media Queries*/

@media only screen and (min-height: 1300px) {
    .game-spacing {
        padding-top: 16rem;
    }
}

@media only screen and (max-width: 415px) {
    .movie-container {
        width: 90%;
    }

    .nav-tabs .nav-link {
    margin-bottom: 0.7rem;
}

    .nav-link {
    font-size: 0.9rem;
}

}

