

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 2000px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    color: rgb(165, 165, 42);
    height: 100%;
}

/* ........................................ Text-Style */

h1 {
    font-size: 4rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    cursor: pointer;
    color: rgb(165, 165, 42);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.end-quote {
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.5rem;
}
 .red{
    color: red;
    font-weight: 500;
    font-size: 1.5rem;
 }

.blue{
    color: blue;
    font-weight: 500;
    font-size: 1.5rem;
}

/* ........................................ Positioning */

.bg-opening {
    height: 100vh;
    background: url(../imgs/opening_img.jpg) no-repeat center center ;
    background-size: cover;
    overflow: auto;
}

.heading{
    padding-top: 1.125rem;
    padding-bottom: 1rem;
}

/* ........................................ Buttons */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0rem;
  width: 17rem;
  text-align: center;
  border: 0.2rem solid rgb(165, 165, 42);
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(165, 165, 42);
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(165, 165, 42, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

/* ........................................ Final Score */

#finalScore {
    margin-top: 1rem;
   margin-bottom: 0;
   padding-top: 0.6rem;
   padding-bottom: 0.95rem;
   padding-left: 0.9rem;
   padding-right: 0.9rem;
   font-size: 3rem;
   text-decoration: underline;
   color: rgba(197, 23, 0, 0.89);
   /* Border came from developer.mozilla.org */
  border-image-slice:42 42 42 42 fill;
  border-image-width:50px 50px 50px 50px;
  border-image-outset:20px 20px 20px 20px;
  border-image-repeat:round round;
  border-image-source:url("https://mdn.mozillademos.org/files/6017/border-image-6.svg");

}

/* Code came from W3Schools */
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bbb010, 0 0 40px #bbb010, 0 0 50px #bbb010, 0 0 60px #bbb010, 0 0 70px #bbb010;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d9e06f, 0 0 40px #d9e06f, 0 0 50px #d9e06f, 0 0 60px #d9e06f, 0 0 70px #d9e06f, 0 0 80px #d9e06f;
  }
}

/* ........................................ Media Queries */

.suggestion-text-input{
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    margin-left: 15px;
    border: solid 3px rgb(165, 165, 42);
    border-radius: 10px;
}

.suggestion-submit-input{
    font-size: 1.2rem;
    margin: auto;
    display: block;
    color: #fffaf0;
    background-color: rgb(165, 165, 42);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0.5rem;
}
/* ........................................ Media Queries */


@media only screen and (min-width: 400px) {
    .home-spacing {
        padding-top: 4rem;
    }
}


@media only screen and (min-height: 1300px) {
    .home-spacing {
        padding-top: 20rem;
    }
}